{% extends "base.html" %}
  {% block content %}
    <body class="bg-primary">
    
    <div class="container">
                    <div class="d-flex justify-content-center bg-primary">
                        <i class="bi bi-person-plus-fill"></i>
                        <h3>Añadir Usuario</h3>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <div class="col-md-4 bg-light p-4 rounded ">
                            <form>
                                <div class="mb-3">
                                    <i class="bi bi-person-check-fill"></i>

                                  <label for="exampleInputEmail1" class="form-label">Alias</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <i class="bi bi-envelope-plus"></i>
                                      <label for="exampleInputEmail1" class="form-label">Email</label>
                                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Añadir Usuario</button>
                    </div>
                  </form>
                  
            </div>
        </div>
    
 
    </div>
    
{% endblock %}
