<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    {% endblock %}
    
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <i class="bi bi-journal-arrow-up"></i>
        <a href="" class="navbar-brand">PoemsLooks</a>
        <i class="fa-solid fa-book"></i>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list-ul"></i>
              </a>
              <ul class="dropdown-menu my-3" aria-labelledby="navbarDropdown">
                <li>

                    <a class="dropdown-item d-grid" href="#">
                        <div class="btn btn-info" href="{{url_for('app.perfil')}}">Editar perfil</div>
                    </a>


                  </li>
                <li>
                    <a class="dropdown-item d-grid" href="#">
                      <div class="btn btn-warning">Configuracion</div>
                    </a>
                  </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item d-grid" href="#">
                      <div class="btn btn-danger" href="{{url_for('app.login')}}">Cerrar sesion</div>
                    </a>
                  </li>
              </ul>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">Poeta@mail.com</a>
            </li>
            <li class="nav-item">
          </ul>
        </div>
      </div>
    </nav>

    {% endblock %}

    {% block content %}

    {% endblock %}

    {% block scripts %}
     <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/fe4eb8c452.js" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    -->
    {% endblock %}
</body>
</html>