{% extends "base.html" %}
  {% block content %}
    <body class="bg-primary">
    
    <div class="container">
                    <div class="d-flex justify-content-center bg-primary">
                        <i class="bi bi-arrow-up-circle"></i>
                        <h3>Calificar Poema</h3>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <div class="col-md-4 bg-light p-4 rounded ">
                            <form>
                                <div class="mb-3">
                                    <i class="bi bi-graph-up-arrow"></i>
                                    <label for="customRange2" class="form-label"> Rango de Calificacion</label>
                                    <input type="range" class="form-range" min="0" max="10" id="customRange2">
                                      </div>
    
                                <div class="mb-3">
                                    <i class="bi bi-chat-right"></i>
                                          <label for="exampleInputEmail1" class="form-label">Comentario</label>
                                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Calificar Poema</button>
                    </div>
                  </form>
                  
            </div>
        </div>
    
 
    </div>
  {% endblock %}  


