{% extends "base.html" %}
    
    {% block content %}
    <body class="bg-info">

    <div class="container">
        <div class="d-flex justify-content-center bg-info">
            <h3>Inicia sesion</h3>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <div class="col-md-4 bg-light p-4 rounded ">
                
                  <form class="pt-3" action="{{ url_for('app.login') }}" method="POST">
                    <div class="mb-3">
                      <i class="far fa-envelope"></i>
                      <label for="exampleInputEmail1" class="form-label">INDICA TU EMAIL</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">No compartiremos tu email con nadie</div> 
                      
                    </div>
                    <div class="mb-3">
                      <i class="fas fa-key"></i>
                      <label for="exampleInputPassword1" class="form-label">INDICA TU CONTRASEÑA</label>
                      <input type="password" class="form-control" id="exampleInputPassword1">
                      
                    </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Verificar</label>
        </div>
      </form>
      <div class="btn-group d-flex justify-content-center bg-primary mt-4" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success">Iniciar sesion</button>
        </div>

      <div class="btn-group d-flex justify-content-center bg-primary mt-4" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary">¿Olvidaste tu contraseña?</button>
     
        </div>
      <div class="btn-group d-flex justify-content-center bg-primary mt-4" role="group" aria-label="Basic example">
        <a href="" class="btn btn-primary">
         <button type="button" class="btn btn-primary">¿No tienes cuenta? Registrate</button>
  
        </a>
       
        </div>
  </div>
  </div>
  
  {% endblock %}
 