{% extends "base.html" %}
   
  {% block content %}
    <body class="bg-secondary">
        
            <div class="container">
				<div class="d-flex justify-content-center bg-secondary">
          <i class="bi bi-person-fill bg"></i>
					<h3>Perfil</h3>
				</div>
            
            
                <ol class="list-group list-group-numbered">
                    <li class="list-group-item d-flex justify-content-between align-items-start"> 
                      <div class="ms-2 me-auto"> 
                        <div class="fw-bold">Nombre</div> 
                        anon232112
                      </div>
                      
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto ">
                        <div class="fw-bold">Email</div>
                        user@mail.com
                      </div>
                      
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">Password</div>
                        **********
                      </div>
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">Poemas</div>
                          #Number
                        </div>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">Calificaciones</div>
                              #Number
                            </div>
                      
                    </li>
                  </ol>

                  <div class="btn-group d-flex justify-content-center bg-primary g-col-6">
                    <button class="btn btn-danger" type="button">Eliminar cuenta</button>
                    <button class="btn btn-primary" type="button">Modificar dato</button>
                  </div>

  {% endblock %}

    

   
