{% extends "base.html" %}
    
    {% block content %}
    <body class="bg-light">
<div class="container"></div>
<div class="d-flex justify-content-center bg-primary">
    <h3>Mis Poemas</h3>
    <i class="bi bi-book-half"></i>
</div>

</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Titulo</th>
      <th scope="col">Cuerpo</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Name 1</td>
      <td>Seis Parrafos</td>
      <td>22/05/2022</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Name 2</td>
      <td>Cinco Parrafos</td>
      <td>13/06/2022</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jose</td>
      <td>Diez parrafos</td>
      <td>12/05/2022</td>  
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-around mt-4">
    <button class="btn btn-primary" type="button">Editar</button>
    <button class="btn btn-success" type="button">Subir Poema</button>
    <button class="btn btn-warning" type="button">Eliminar Poema</button>
  </div>

  {% endblock %}
 