{% extends "base.html" %}
  {% block content %}
    <body class="bg-info">
    
    <div class="container">
                    <div class="d-flex justify-content-center bg-info">
                        <i class="bi bi-arrow-up-circle"></i>
                        <h3>Subir Poema</h3>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <div class="col-md-4 bg-light p-4 rounded ">
                            <form>
                                <div class="mb-3">
                                    <i class="bi bi-pencil"></i>

                                  <label class="form-label">Titulo</label>
                                  <input type="titulo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <i class="bi bi-person-square"></i>
                                      <label  class="form-label">Autor</label>
                                      <input type="autor" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <i class="bi bi-body-text"></i>
                                          <label  class="form-label">Cuerpo</label>
                                          <input  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                        </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-success">Añadir Poema</button>
                    </div>
                  </form>
                  
            </div>
        </div>
    
 
    </div>
    
  {% endblock %}